@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes breathe {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
}

@keyframes pulse {
  0%, 100% {
    opacity: 0.8;
    transform: scale(0.98);
  }
  50% {
    opacity: 0.6;
    transform: scale(0.97);
  }
}

@keyframes glow {
  0%, 100% {
    box-shadow: inset 10px 10px 20px #bebebe, inset -10px -10px 20px #ffffff;
    transform: scale(1);
  }
  50% {
    box-shadow: inset 8px 8px 16px #bebebe, inset -8px -8px 16px #ffffff;
    transform: scale(1.01);
  }
}